[defaults]
inventory = aws_ec2.yml
remote_user = ubuntu
private_key_file = /home/ubuntu/.ssh/id_ed25519_glpskumar
host_key_checking = False
enable_plugins = aws_ec2, ini, yaml

[privilege_escalation]
become = true
become_method = sudo
become_user = root