[defaults]

# Path to your static inventory directory (contains dev.ini, test.ini, qa.ini)
#inventory = . ansible_inventory_file.ini, ./inventories/dev/, ./inventories/test/, ./inventories/qa/

# Get Dynamic inventory using aws_ec2 plugin
inventory = aws_ec2.yml
remote_user = ubuntu
private_key_file = /home/ubuntu/.ssh/id_ed25519_glpskumar
host_key_checking = False
enable_plugins = aws_ec2, ini, yaml

[privilege_escalation]
become = true